/* rem and em do NOT depend on html font-size in media queries! Instead, 1 rem = 1 em = 16 px */

/*******************************/
/* BELOW 1344px (Smaller desktops)*/
/*******************************/
@media (max-width: 84rem) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 3rem;
  }
}

/*******************************/
/* BELOW 1200px (Landscape Tablets)*/
/*******************************/
@media (max-width: 75rem) {
  html {
    /* 9px / 16px*/
    font-size: 56.25%;
  }
}

/*******************************/
/* BELOW 944px (Tablets)*/
/*******************************/

@media (max-width: 59rem) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .heading-primary {
    font-size: 2.8rem;
  }
}

/*******************************/
/* BELOW 885px (Smaller tablets)*/
/*******************************/

@media (max-width: 56rem) {
  /* .heading-primary {
    font-size: 2.4rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .featured-cards {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;
  }

  .logo {
    height: 3.4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.4rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  } */
}

/*******************************/
/* BELOW 544px (Phones)*/
/*******************************/

@media (max-width: 34em) {
  .heading-primary {
    font-size: 2.4rem;
  }

  .hero {
    grid-template-columns: 1fr;
    /* height: 75vh; */
    gap: 1rem;
  }

  .logo {
    height: 2.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1rem;
  }

  .main-nav-list {
    gap: 1.4rem;
  }
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 42 / 52 / 62 / 74 / 86 / 90 / 96 / 100

--- 07 WHITESPACE
-- Spacing system (px) multiples of 12
4 / 6 / 12 / 24 / 36 / 48 / 60 / 72 / 84 / 96 / 120 
*/
