/* rem and em do NOT depend on html font-size in media queries! Instead, 1 rem = 1 em = 16 px */

/*******************************/
/* BELOW 1344px (Smaller desktops)*/
/*******************************/
@media (max-width: 84rem) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 3rem;
  }
}

/*******************************/
/* BELOW 1200px (Landscape Tablets)*/
/*******************************/
@media (max-width: 75rem) {
  html {
    /* 9px / 16px*/
    font-size: 56.25%;
  }

  .hero {
    gap: 7.2rem;
  }

  .social-proof {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: start;
    gap: 0.8rem;
  }

  .social-rating {
    justify-self: start;
  }

  .social-rating-numbers {
    justify-self: start;
  }

  .delivered-imgs {
    grid-column: 1/-1;
  }
}

/*******************************/
/* BELOW 944px (Tablets)*/
/*******************************/

@media (max-width: 59rem) {
  html {
    /* 8px / 16px = 0.5 */
    font-size: 50%;
  }

  .grid {
    column-gap: 2.4rem;
    row-gap: 4.8rem;
  }

  .hero {
    gap: 6rem;
  }

  .heading-primary {
    font-size: 2.4rem;
  }

  .main-testimonial-text {
    font-size: 1.8rem;
  }

  .testimonial-text {
    font-size: 1.6rem;
  }

  .main-testimonial-heading {
    margin-bottom: 6.4rem;
  }

  .btn,
  .btn:link,
  .btn:visited {
    margin-right: 0;
  }

  .icon {
    font-size: 1.4rem;
    margin: 1rem;
  }
}

/*******************************/
/* BELOW 885px (Smaller tablets)*/
/*******************************/

@media (max-width: 56rem) {
  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .btn,
  .btn:link,
  .btn:visited {
    /* font-size: 1.6rem; */
    padding: 1.4rem 1.4rem;
    margin-right: 1rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .hero {
    grid-template-columns: 2.5fr 2.5fr;
  }

  .hero-img-box {
    align-self: center;
  }

  .cta-text-box {
    padding: 3.6rem 4.2rem 4.2rem 4.2rem;
    color: #45260a;
  }

  .header {
    gap: 1rem;
  }

  .main-nav-list {
    gap: 2.4rem;
  }

  .cta {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr;
  }

  .cta-img-box {
    grid-row: 1;
  }

  /* .cta-text {
    font-size: 1.8rem;
  } */

  .meal-3 {
    grid-column: 1/-1;
    justify-self: center;
  }

  .content-statistics-box {
    grid-template-columns: 2fr 1.5fr;
    gap: 4.8rem;
  }

  .img-statistics-box {
    max-width: auto;
    align-self: center;
  }

  .content-testimonial-box {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 2.4rem;
  }

  .testimonials {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }

  /* .main-testimonial-text {
    font-size: 1.4rem;
  } */

  .grid--footer {
    grid-template-columns: repeat(2, 1.5fr);
    row-gap: 2rem;
  }

  .logo-col {
    grid-row: 2;
  }
}

/*******************************/
/* BELOW 544px (Phones)*/
/*******************************/

@media (max-width: 34em) {
  .grid {
    row-gap: 2.4rem;
  }
  .heading-primary {
    font-size: 2.4rem;
  }

  .heading-secondary {
    font-size: 2.4rem;
  }

  .hero {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .logo {
    height: 6.2rem;
  }

  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    padding: 1rem 1rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 1.6rem;
  }

  .main-nav-list {
    gap: 1.4rem;
  }

  .custom-search {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.4rem;
  }

  .content-statistics-box {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1.5fr;
    margin-bottom: 1.8rem;
  }

  .statistics-numbers {
    font-size: 3rem;
  }

  .btn--form {
    position: relative;
    align-self: stretch;
  }

  .hero-section,
  .featured-section,
  .statistics-section,
  .testimonials-section,
  .menu-section,
  .gallery-section,
  .cta-section,
  .footer-section {
    padding: 4rem 0;
  }

  .footer-section {
    padding: 6rem 0;
  }

  .content-testimonial-box {
    grid-template-columns: 2fr;
    grid-template-rows: 0.5fr 0.5fr;
    margin-bottom: 5.2rem;
  }

  .statistics-box {
    gap: 2.4rem;
  }

  .grid--3--cols,
  .grid--4--cols {
    grid-template-columns: 1fr;
  }

  .testimonials {
    grid-template-columns: 1fr;
    row-gap: 4.2rem;
  }

  .grid--footer {
    grid-template-columns: repeat(2, 1.5fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .address,
  .footer-link:link,
  .footer-link:visited,
  .copyright {
    font-size: 1.2rem;
  }
}

/*
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 42 / 52 / 62 / 74 / 86 / 90 / 96 / 100

--- 07 WHITESPACE
-- Spacing system (px) multiples of 12
4 / 6 / 12 / 24 / 36 / 48 / 60 / 72 / 84 / 96 / 120 
*/
