@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/** HEADER **/
#underline-heading,
#highlight-heading {
  display: inline-block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 10rem;
  background-color: #f1f1cf;
}

.logo {
  height: 8.2rem;
}

/* NAVIGATION */

.nav-header {
  display: flex;
  list-style: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #6c554d;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:link {
  position: relative;
}

.main-nav-link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #e2ac20;

  transform: scale(0, 1);
  transition: transform 0.3s ease;
}

.main-nav-link:not(.nav-cta):hover::after {
  transform: scale(1, 1);
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #917f79;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.1rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e2ac20;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cb9b1d;
}

.hero-section,
.statistics-section,
.testimonials-section,
.menu-section,
.gallery-section,
.cta-section,
.footer-section {
  background-color: #f1f1cf;
  padding: 12rem 0;
}

/** HERO SECTION **/
.hero-section {
  background-color: #f1f1cf;
  padding: 4rem 0 4rem 0;
}

.hero {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 6.2rem;
  align-items: start;
}

.social-proof {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-top: 2.4rem;
}

.social-proof p {
  color: #262626;
  font-size: 1.4rem;
}

.delivered-imgs img {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.meal-icon {
  height: 2rem;
  width: 2rem;
  color: #e2ac20;
}

.hero-description-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image-box {
  max-width: 100%;
  max-height: auto;
}

.hero-img {
  width: 100%;
  height: auto;
  /* height: 100%; */
  /* object-fit: cover; */
}

/** FEATURED SECTION **/
.heading-tag {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  background-color: #e5b436;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #333;
}

.heading-secondary-text-box {
  grid-template-columns: 0.75fr 1fr 1fr 0.75fr;
}

.heading-secondary-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 3.6rem;
  color: #777;
  grid-column: 2/4;
}

.featured-section {
  padding: 12rem 0;
}

.card {
  max-width: 30rem;
  padding: 2rem;
  margin: 1rem;
}

.feature-icon {
  height: 4.2rem;
  width: 4.2rem;
  color: #e2ac20;
  background-color: #fcf7e9;
  margin-bottom: 3.6rem;
  padding: 1.6rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  line-height: 1;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
}

.feature-link {
  font-size: 1.8rem;
  line-height: 1.6;
  text-decoration: none;
}

.feature-link:link,
.feature-link:visited {
  color: #e2ac20;
  transition: all 0.3s;
}

.feature-link:hover,
.feature-link:active {
  color: #b58a1a;
}

/** STATISTICS SECTION **/
.content-statistics-box {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  align-content: center;
  justify-items: center;
  gap: 9.6rem;
  margin-bottom: 4.8rem;
}

.title-statistics-box {
  font-weight: 700;
  font-size: 2rem;
  color: #7e6a63;
  line-height: 1.2;
  margin-bottom: 3.6rem;
}

.content-statistics-text,
.content-statistics-items {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #777;
}

.content-statistics-text {
  margin-bottom: 2.4rem;
}

.text-statistics-box {
  align-self: end;
}

.content-statistics-list {
  list-style: none;
}

.content-statistics-items {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

.content-statistics-items:last-child {
  margin-bottom: 0;
}

.img-statistics-box {
  max-width: 50%;
  max-height: auto;
}

.ingredients-img {
  width: 100%;
  height: auto;
}

.statistics-box {
  display: flex;
  justify-content: center;
  gap: 9.6rem;
}

.statistics-numbers {
  font-size: 3.6rem;
  line-height: 1.1;
  color: #333;
}

.statistics-text {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #777;
}

/** TESTIMONIALS SECTION **/
.testimonials-section {
  background-color: #fff;
  padding: 12rem 0;
}

.main-testimonial {
  margin-bottom: 9.6rem;
}

.content-testimonial-box {
  display: flex;
  gap: 3.6rem;
  align-items: center;
}

.main-testimonial-img {
  max-width: 30%;
  max-height: auto;
}

.main-customer-img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.main-testimonial-title {
  font-weight: 700;
  font-size: 3rem;
  color: #7e6a63;
  line-height: 1.2;
  margin-bottom: 3.6rem;
}

.main-testimonial-heading {
  margin-bottom: 9.6rem;
}

.main-testimonial-text {
  font-size: 2.4rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 3.6rem;
}

.main-quote {
  display: inline-block;
  max-width: 30rem;
  max-height: auto;
  font-family: "Arial";
  content: "\0022";
  font-weight: bold;
  font-size: 9.6rem;
  color: #e2ac20;
}

.main-testimonial-name {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #333;
  margin-bottom: 0.4rem;
}

.main-testimonial-function {
  font-size: 1.4rem;
  line-height: 1;
  color: #777;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #333;
}

.stars-review {
  margin-bottom: 1.2rem;
}

/** MENU SECTION **/
.main-menu-heading {
  margin-bottom: 9.6rem;
}

.meal-img {
  width: 100%;
  background-color: #fecaca;
  position: relative;
}

.meal-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.5); */
  opacity: 0;
  transition: opacity 0.4s;
}

.meal:hover .meal-img::before {
  opacity: 1;
}

.meal-description {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.45s;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 28%;
}

.meal:hover .meal-description {
  opacity: 1;
}

.meal {
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.079);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.06);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  background-color: #fff;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.tag--chocolate {
  background-color: #472a20;
  color: #fff;
}

.tag--strawberries {
  background-color: #be123c;
  color: #fff;
}

.tag--vainilla {
  background-color: #ffd43b;
}

.tag--mint {
  background-color: #86efac;
}

/** GALLERY SECTION **/
.wrapper {
  /* width: 100%;
  height: 100vh; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 9.6rem;
}

.container-locals {
  height: 40rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.locals-card {
  width: 8rem;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 1rem;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 15px -14px rgba(0, 0, 0, 0.8);
}

.locals-title {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #fff;
}

.locals-text {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #b0b0b0;
}
/* .locals-card > .row */
.row {
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
}

/* .locals-card > .row > .icon */
.icon {
  background: #6c554d;
  color: #fff;
  border-radius: 50%;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem;
}

.meal-description-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 0.6rem;
}

.meal-description-text {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #ccc;
}

/* .locals-card > .row > */
.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 8rem;
  width: 52rem;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}

.description {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-align: center;
}

.description p {
  padding-top: 0.5rem;
}

.description h4 {
  text-transform: uppercase;
}

.container-locals input {
  display: none;
}

.container-locals input:checked + label {
  width: 60rem;
}

.container-locals input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.locals-card[for="c1"] {
  background-image: url("/img/local-001.webp");
}

.locals-card[for="c2"] {
  background-image: url("/img/local-002.webp");
}

.locals-card[for="c3"] {
  background-image: url("/img/local-003.webp");
}

.locals-card[for="c4"] {
  background-image: url("/img/local-004.webp");
}

.gallery-section {
  background-color: #fff;
  padding: 12rem 0;
}

.title-locals-box {
  font-weight: 700;
  font-size: 2rem;
  color: #7e6a63;
  line-height: 1.2;
  margin-bottom: 3.6rem;
}

.main-gallery-heading {
  margin-bottom: 9.6rem;
}

.gallery-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr)); */
  gap: 1.2rem;
  padding: 1.6rem;
  margin-bottom: 9.6rem;
}

.img-gallery-box:nth-child(1) {
  grid-row: span 2;
}

.img-gallery-box:nth-child(8) {
  grid-column: 3/-1;
  grid-row: 2/2;
}

.img-gallery-box:nth-child(17) {
  grid-row: span 2;
}

.img-gallery-box {
  position: relative;
  overflow: hidden;
}

.img-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
  transition: all 0.3s;
}

.img-gallery:hover {
  transform: scale(1.1);
}

.container-locals {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.btn--menu {
  grid-column: 2/3;
  text-align: center;
  font-size: 2.2rem !important;
}

/** CTA SECTION **/
.section-cta {
  /* top / right / bottom / left */
  /* padding: 9.6rem 0 12.8rem 0; */

  /* top / horizontal / left */
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  /* background-color: #e2ac20; */
  box-shadow: 0 1.2rem 1.2rem rgba(0, 0, 0, 0.15);
  border-radius: 11px;

  background-image: linear-gradient(to right bottom, #eb984e, #e2ac20);
  overflow: hidden;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #45260a;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.full-name-input {
  width: 100%;
  grid-column: 1/-1;
}

.custom-search {
  position: relative;
  width: 100%;
  display: flex;
  grid-column: 1/-1;
}

#email {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 20px;
  line-height: 1;
  outline: none;
}

.btn--form {
  position: absolute;
  right: 3px;
  top: 3px;
  bottom: 3px;
  border: 0;
  background: #472a20;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 15px;
  z-index: 2;
  cursor: pointer;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("/img/ice-cream-cone-006.webp");
  background-size: cover;
  background-position: center;
}

/** FOOTER SECTION **/
.footer-section {
  background-color: #fff;
  padding: 12rem 0;
}
